@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&subset=latin-ext')
@import reset
body 
    margin: 0
    padding: 0
    font-size: 62.5%
    text-align: left
    padding-top: 100px
    background: #fff
    font-family: 'Fira Mono', monospace
    color: #525252
* 
    box-sizing: border-box    
img 
    max-width: 100%
    height: auto
.flex
    display: -webkit-flex
    display: flex
.column
    -webkit-flex-direction: column
    flex-direction: column
.items-center
    -webkit-align-items: center
    align-items: center
.items-start
    -webkit-align-items: flex-start
    align-items: flex-start
.content-center
    -webkit-justify-content: center
    justify-content: center
.flex-wrap
    -webkit-flex-wrap: wrap
    flex-wrap: wrap
/* Container */  
.container
    max-width: 1200px
    margin: 0 auto
[data-aos=slide-down]
    transform: translateY(-20%)
[data-aos=slide-left]
    transform: translateX(10%)
[data-aos=slide-up]
    transform: translateY(20%)  
/* Header */
header
    position: fixed
    top: 0
    left: 0
    width: 100%
    margin: 0 auto
    border-bottom: 1px solid #eee
    z-index: 100
    .navbar-default
        background: #fff
        font-family: 'Overpass Mono', monospace
        margin: 0 auto
        font-size: 1.54em
        .navbar-collapse
            max-height: 100%
            .navbar-nav
                list-style: none
                margin: 0
                padding: 0
                li
                    font-weight: normal
                    padding-right: 60px
                    &.active
                        a
                            background: #fff
                            cursor: default
                            color: #f00658
                            &:hover:after
                                width: 0%    
                    a
                        padding: 0
                        line-height: 100px
                        color: #525252
                        text-decoration: none
                        &:hover
                            color: #f00658  
                        &:hover:after
                                width: 100%
                        &:after
                                content: ''
                                position: absolute
                                bottom: 37px
                                left: 0
                                width: 0%
                                border-bottom: 1px solid #f00658
                                transition: 0.5s ease      
/* Hello */
.hello
    padding: 100px 0
    .container
        font-weight: 600
        h1
            display: none
        h2
            font-size: 3em
            max-width: 900px
            line-height: 64px
            span
                color: #f00658
                &.language
                    text-transform: uppercase
/* Known_technologies */
.known_technologies
    background-color: #f2f2f2
    margin: 0 30px
    padding-top: 100px
    .container
        h2
            padding: 0 0 50px 0
            width: 100%
            font-size: 2.5em
            font-weight: 600
            color: #525252
        h3
            color: #525252
            padding: 0 0 50px 0
            width: 100%
            font-size: 2.2em
        .chart
            position: relative
            margin-right: 50px
            background-color: #fff
            min-height: 240px
            min-width: 250px
            margin-bottom: 70px
            box-shadow: 0 15px 20px rgba(0,0,0,0.15)
            img
                margin: 0 auto
                margin-top: 35px
                height: 80px
            .php-logo
                height: 83px
            .seo-logo
                height: 83px
            .chart-text     
                padding: 30px 25px 25px 
                h4
                    font-weight: 400
                    font-size: 3em
                    line-height: 46px
                    position: absolute
                    bottom: 25px
/* Unknown_technologies */
.unknown_technologies
    background-color: #f2f2f2
    margin: 0 30px
    padding-top: 100px
    .container
        h2
            padding: 0 0 50px 0
            width: 100%
            font-size: 2.5em
            font-weight: 600
            color: #525252
        .chart
            position: relative
            margin-right: 50px
            background-color: #fff
            min-height: 240px
            min-width: 250px
            margin-bottom: 70px
            box-shadow: 0 15px 20px rgba(0,0,0,0.15)
            img
                margin: 0 auto
                margin-top: 35px
                height: 80px  
            .react-logo
                height: 95px
            .express-logo
                height: 140px
                margin-top: 3px
            .chart-text     
                padding: 30px 25px 25px 
                h3
                    font-weight: 400
                    font-size: 3em
                    line-height: 46px
                    position: absolute
                    bottom: 25px
/* Projects */
.projects
    background-color: #f2f2f2
    margin: 0 30px
    padding-top: 100px
    .container
        h2
            padding: 0 0 50px 0
            width: 100%
            font-size: 2.5em
            font-weight: 600
            color: #525252
        .chart
            background-color: #fff
            margin-right: 50px
            max-height: 540px
            max-width: 498px
            margin-bottom: 70px
            &:hover
                box-shadow: 0 15px 20px rgba(0,0,0,0.15)
                transform: translate(0,-1px)
                .chart-text
                    .chart-links
                        a
                            color: #F00658
            img
                max-height: 280px 
                margin-bottom: 30px
            .chart-text     
                padding: 30px 25px 25px
                .chart-sub
                    text-transform: uppercase
                    font-weight: 400
                    font-size: 1.3em
                    color: #ccc
                    line-height: 16px
                h3
                    font-weight: 400
                    font-size: 3em
                    line-height: 36px
                    padding: 10px 0px 0px
                .chart-links
                    color: #525252
                    margin-top: 70px
                    line-height: 26px
                    a 
                        position: relative
                        display: inline-block
                        color: #ddd
                        font-size: 1.3em
                        font-weight: normal
                        font-family: 'Fira Mono', monospace
                        margin-right: 50px
                        &:visited
                            text-decoration: none
                        &:active
                            text-decoration: none
                        &:hover
                            text-decoration: none
                        &:hover:after
                            width: 100%
                        &:after
                            position: absolute
                            bottom: 0
                            left: 0
                            content: ''
                            width: 0%
                            border-bottom: 1px solid #ae0440
                            transition: 0.5s ease
/* Footer */          
footer
    padding: 100px 0
    font-weight: 600
    padding-bottom: 200px
    .container
        h3
            width: 100%
            font-size: 3em
            line-height: 44px
        p
            font-size: 3em
            line-height: 44px
            max-width: 750px
            a
                text-decoration: none
                color: #f00658
                &:hover
                    color: #ae0440
        .email
            padding-top: 50px
            font-size: 1.7em
            line-height: 26px
            font-weight: normal
            font-family: 'Overpass Mono', monospace
            a
                position: relative
                display: inline-block
                &:hover:after
                    width: 100%
                &:after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 0%
                    border-bottom: 1px solid #ae0440
                    transition: 0.5s ease
        .phone
            padding-top: 20px
            font-size: 1.7em
            line-height: 26px
            font-weight: normal
            font-family: 'Overpass Mono', monospace
            color: #f00658
/* Media queries */
/* For larger computers: */
@media (max-width: 1199px)
    .container
        width: 100%
        padding: 0 20px
    .hello
        .container
            h2
                font-size: 2.8em
                max-width: 75vw
    .known_technologies
        .container
            h2
                font-size: 2.3em
            h3
                font-size: 2em
    .unknown_technologies
        .container
            h2
                font-size: 2.3em
    .projects
        .container
            h2
                font-size: 2.3em
    footer
        .container
            h3
                font-size: 2.8em
            p
                font-size: 2.8em
                max-width: 75vw
/* For computers: */
@media (max-width: 991px)
    .hello
        .container
            h2
                font-size: 2.4em
    .known_technologies
        .container
            h2
                font-size: 1.9em
            h3
                font-size: 1.6em
    .unknown_technologies
        .container
            h2
                font-size: 1.9em
    .projects
        .container
            h2
                font-size: 1.9em 
    footer
        .container
            h3
                font-size: 2.4em
            p
                font-size: 2.4em
/* For tablets: */
@media (max-width: 767px)
    body
        padding-top: 50px
    header
        .navbar-default
            .container
                .navbar-header
                    .navbar-toggle
                        background-color: inherit
                        &:hover
                            background-color: inherit
                .navbar-collapse
                    .navbar-nav
                        li
                            a
                                line-height: 60px
    .hello
        padding: 50px 0
        .container
            h2
                font-size: 2.3em
                text-align: center
                max-width: 100%
    .known_technologies
        padding-top: 50px
        .container
            -webkit-flex-direction: column
            flex-direction: column
            -webkit-align-items: center
            align-items: center
            h2
                font-size: 1.8em
                text-align: center
            h3
                font-size: 1.5em
                text-align: center
            .chart
                margin-right: 0
    .unknown_technologies
        padding-top: 50px
        .container
            -webkit-flex-direction: column
            flex-direction: column
            -webkit-align-items: center
            align-items: center
            h2
                font-size: 1.8em
                text-align: center
            .chart
                margin-right: 0
    .projects
        padding-top: 50px
        .container
            -webkit-flex-direction: column
            flex-direction: column
            -webkit-align-items: center
            align-items: center
            h2
                font-size: 1.8em   
                text-align: center
            .chart
                margin-right: 0
                .chart-text 
                    height: 100%
                    background-color: inherit
                    .chart-links
                        a
                            color: #F00658      
    footer
        padding: 50px 0
        .container
            h3
                font-size: 2.3em
                text-align: center
                max-width: 100%
            p
                font-size: 2.3em
                text-align: center
                max-width: 100%
/* For smart phones: */    
@media (max-width: 479px)
    .container
        padding: 0 15px
    .hello
        .container
            h2
                font-size: 2em
                line-height: 40px
    .known_technologies
        margin: 0 10px
        .container
            h2
                font-size: 1.6em
            h3
                font-size: 1.3em
            .chart
                margin-right: 0
                width: 65vw
                min-width: 65vw
                .chart-text 
                    h4
                        font-size: 2.3em
    .unknown_technologies
        margin: 0 10px
        .container
            h2
                font-size: 1.6em
            .chart
                width: 65vw
                min-width: 65vw
                .chart-text 
                    h3
                        font-size: 2.3em
    .projects
        margin: 0 10px
        .container
            h2
                font-size: 1.6em
    footer
        .container
            h3
                font-size: 2em
            p
                font-size: 2em
            .email
                font-size: 1.55em